{
    "presets": [
    	["@babel/preset-env"],
    	["mobx"]
    ]
    "plugins": [
    	["transform-decorators-legacy"],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}